.main-container {
  display: flex;
  & main {
    flex: 60%;
    margin-right: 50px;
  }
  & aside {
    flex: 40%;
  }
}

.toolbar {
  width: calc(100% - 20px);
}

.toolbar button {
  margin-right: 20px;
}

.toolbar button:first-child {
  margin-left: 0;
}